[user]
	name = Josef Schönberger
	email = josef.schoenberger@tum.de
	# see gpg -K --keyid-format=long
	signingkey = FF6C81F69A50B15E

[commit]
	gpgsign = true

# This is an nice alias for a compact overview over all commits. Append this to your own .gitconfig file
[alias]
	hist = log --pretty=format:'%C(yellow)%h %Cblue%G?%Cgreen %ad%Creset | %Cred%s%C(auto)%d%Creset [%Cblue%an%Creset] %N' --graph --date=format:'%d.%m.%Y %H:%M'

[core]
	pager = "less -RF" # use pager only when necessary
	excludesFile = ~/.gitignore
	attributesfile = ~/.gitattributes

[pull]
	#rebase = true
	ff = only

[diff]
	tool = vimdiff
[diff "pdf"]
	binary = true
	textconv = bash -c 'pdftotext $0 -'



# Delta diff
[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true
	map-styles = bold purple => syntax 53, bold cyan => syntax 23
	#whitespace-error-style = 46 reverse
	whitespace-error-style = 196 reverse
	file-style = bold yellow ul reverse
	file-decoration-style = none
	hunk-header-decoration-style = blue
	hunk-label = "─────────┬─" #┐"
	blame-code-style = syntax
	hyperlinks = true
	#default-language = tex

#[delta "side-by-side"]
#	hunk-label = "────┬─" #┐"

#[merge]
#	conflictstyle = zdiff3

[diff]
	colormoved = default
[merge]
	tool = vimdiff
